/*****************
common/_variables.scss
*****************/

$background-black: #000000;
$background-dark: #0f0f0f;
$background-light: #202020;


$text-primary: #ff0000;
$text-header: #ff2600;
$text-secondary: #a51a00;
$text-link: #ff9900;
$text-dark: #470101;
$text-subtext: #393939;
$text-disabled: #080808;
$text-error: #a7a7a7;